<!DOCTYPE html>
<html>
<head>
  <title>Message Board</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
  
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
  
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='messageApp'>
  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container-fluid'>
        <%= link_to 'MessageBoard', root_path, :class => 'brand' %>
        
        <ul class='nav pull-right'>
          <% if false %>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class='container'>
    <%#= show_flash_messages %>
    
    <%= yield %>
  </div>

</body>
</html>
